<p>Bitácora de servicios</p>
<p-table [value]="calls" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Codigo</th>
            <th>Servicio</th>
            <th>Fecha</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-call>
        <tr>
            <td>{{ call.id }}</td>
            <td>{{ call.serviceName }}</td>
            <td>{{ call.executionDate | date:'dd/MM/yyyy hh:mm:ss' }}</td>
        </tr>
    </ng-template>
</p-table>
